

<p>test</p>
<i class="fa-solid fa-user"></i>
    <div class="main-container">
      <div class="rectangle"><div class="logo"></div></div>
      <span class="chill-waves-collab-login">Chill waves collab login</span>
      <div class="rectangle-1">
        <div class="vector"></div>
        <input  class="enter-user-name" placeholder="Enter your user name ...."> 
      </div>
      <div class="rectangle-2">
        <div class="vector-3"></div>
        <span class="enter-password">Enter your password ....</span>
      </div>
      <span class="submit">Login</span
      ><span class="forgot-password">Forgot Password ?</span>
      <div class="background"></div>
    </div>

